In [1]:
import pandas as pd
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
data = pd.read_csv("regions.csv", sep = ';')

In [6]:
data.head()

   region      west       east      south      north
0       1 -74.25559 -74.244478  40.496120  40.504508
1       2 -74.25559 -74.244478  40.504508  40.512896
2       3 -74.25559 -74.244478  40.512896  40.521285
3       4 -74.25559 -74.244478  40.521285  40.529673
4       5 -74.25559 -74.244478  40.529673  40.538061

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 5 columns):
region    2500 non-null int64
west      2500 non-null float64
east      2500 non-null float64
south     2500 non-null float64
north     2500 non-null float64
dtypes: float64(4), int64(1)
memory usage: 97.7 KB

In [9]:
data.describe()

           region         west         east        south        north
count  2500.00000  2500.000000  2500.000000  2500.000000  2500.000000
mean   1250.50000   -73.983356   -73.972244    40.701631    40.710019
std     721.83216     0.160382     0.160382     0.121073     0.121073
min       1.00000   -74.255590   -74.244478    40.496120    40.504508
25%     625.75000   -74.122251   -74.111139    40.596778    40.605167
50%    1250.50000   -73.983356   -73.972244    40.701631    40.710019
75%    1875.25000   -73.844461   -73.833349    40.806483    40.814872
max    2500.00000   -73.711122   -73.700010    40.907142    40.915530